@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply antialiased;
  }
  body {
    @apply bg-gray-50;
  }
}

@layer components {
  .prose {
    @apply max-w-none;
  }
  .prose p {
    @apply mb-4;
  }
  .prose ul {
    @apply list-disc pl-5 mb-4;
  }
  .prose ol {
    @apply list-decimal pl-5 mb-4;
  }
}
